<!-- emergency/templates/emergency/emergency_info.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emergency Information</title>
</head>
<body>
    <h1>Emergency Information</h1>
    <ul>
        <li>Tourist Helpline (Government of India): 1800-11-1363</li>
        <li>Police Control Room: 100</li>
        <li>Ambulance: 102</li>
        <li>Fire Brigade: 101</li>
        <li>Women Helpline: 1091</li>
        <li>Child Helpline: 1098</li>
        <li>India Tourism Office (Delhi): +91-11-23719916/23719919</li>
    </ul>
</body>
</html>
